body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

#product-container {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2% auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

#product-image {
    max-width: 10%;
    border: 1px solid #FFA500;
    border-radius: 15px;
    margin-bottom: 2%;
}

#product-info {
    background-color: #FFA500;
    color: black;
    padding: 1%;
    border-radius: 15px;
}

#product-name {
    font-size: 1.6rem;
}

#product-price {
    font-size: 1rem;
    margin-top: -1%;
}

.sauce-options, .side-options, .drink-options {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

.sauce-options h2, .side-options h2, .drink-options h2 {
    font-size: 1.4rem;
    color: black;
    background-color: #FFA500;
    padding: 1%;
    border-radius: 15px 15px 0 0;
}

.sauce-buttons, .side-buttons, .drink-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sauce-button, .side-button, .drink-button {
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 1%;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 0.5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-image {
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
}

.sauce-button:hover, .side-button:hover, .drink-button:hover {
    background-color: #FFA500;
    border: 1px solid #000;
}

.sauce-button.active, .side-button.active, .drink-button.active {
    background-color: #FFA500;
    border: 1px solid #000;
}

#add-to-cart {
    background-color: #FFA500;
    color: black;
    border: none;
    padding: 1% 2%;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: black;
    background-color: #FFA500;
    padding: 1.5vw 3vw;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    min-width: 120px;
    min-height: 25%;
}

