.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

h1 {
  font-family: Public Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2.4px;
  text-align: center;
}

.accroche {
  width: 610px;
  height: 84px;
  color: #979797;
  font-size: 20px;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding-left: 435px;
}

.bouton-achat {
  left: 67.07px;
  top: 14px;
  position: absolute;
  text-align: center;
  color: #0D0D0D;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.imgPoleFood {
  padding-left: 245px;
}

.footer {
  width: 1400px;
  height: 419px;
  position: relative;
  background: #EFF2F6;
}

.Titre-newsletter {
  left: 145px;
  top: 45px;
  position: absolute;
  color: black;
  font-size: 36px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word;
}

.bloc-email {
  width: 398px;
  height: 40px;
  left: 145px;
  top: 154px;
  position: absolute;
}

.box-email {
  width: 398px;
  height: 40px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: 0.50px black solid;
}

.texte-email {
  left: 16px;
  top: 11.50px;
  position: absolute;
  color: #A9ABBD;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.inscrire {
  left: 477px;
  top: 166px;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.sous-titre-newsletter {
  width: 400px;
  left: 145px;
  top: 99px;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.shop {
  left: 642px;
  top: 45px;
  position: absolute;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.shop-liste {
  width: 190px;
  left: 642px;
  top: 88px;
  position: absolute;
  opacity: 0.50;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.aide {
  left: 853px;
  top: 45px;
  position: absolute;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.aide-liste {
  width: 190px;
  left: 853px;
  top: 88px;
  position: absolute;
  opacity: 0.50;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.a-propos {
  left: 1065px;
  top: 45px;
  position: absolute;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.a-propos-liste {
  width: 190px;
  left: 1065px;
  top: 88px;
  position: absolute;
  opacity: 0.50;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}