h1 {
  text-align: center;
  size: 200px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.footer {
  background-color: #FFD462;
  padding: 70px;
}

.footer ul {
  list-style: none;
}

.footer h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.footer ul li a {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}

.footer ul li a:hover {
  padding-left: 8px;
}

.label {
  height: 84px;
  width: 610px;
}

.input-contact {
  width: 398px;
  height: 40px;
  position: absolute;
  border: 0.50px black solid;
}

.accroche {
  width: 610px;
  height: 84px;
  text-align: center;
  color: #979797;
  font-size: 20px;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

h3 {
  color: black;
  font-size: 36px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word;
}

.sous-titre-h3 {
  width: 400px;
  color: black;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.shop{
  display: flex;
  width: 194px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}