body {
  margin: 0px;
  padding: 0px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}



.contenu {
  width: 100%;
  height: 1500px;
  position: relative;
}

.header {
  left: 47%;
  top: 5%;
  position: absolute;
  color: black;
  font-size: 300%;
  font-family: Public Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.accroche {
  left: 30%;
  width: 43%;
  top: 11%;
  position: absolute;
  text-align: center;
  color: #000000;
  opacity: 0.9;
  font-size: 125%;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 125%;
  word-wrap: break-word;
}

.bouton-achat {
  left: 49.5%;
  top: 15%;
  position: absolute;
  text-align: center;
  border: 0.50px black solid;
  padding: 10px;
  background-color: #FFD462;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.imgPoleFood {
  width: 75%;
  height: 50%;
  left: 12.5%;
  top: 22%;
  position: absolute;
}

.footer {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #FFD462;
  margin-right: 5%;
  padding-left: 5%;
}

.Titre-newsletter {
  left: 10%;
  top: 8%;
  width: 100%;
  position: absolute;
  color: black;
  font-size: 200%;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word;
}

.email {
  left: 10%;
  top: 38%;
  border: 0.50px black solid;
  position: absolute;
  border-width: 2px;
  width: 27.5%;
  height: 40px;
  font-size: 14px;
  font-family: Public Sans;
  word-wrap: break-word;
  font-weight: 700;
}

.bouton-inscription {
  left: 10%;
  top: 52%;
  position: absolute;
  padding: 10px 10px 10px 10px;
  border: 0.50px black solid;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
  background-color: #FFD462;
}

.sous-titre-newsletter {
  width: 30%;
  left: 10%;
  top: 25%;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.shop {
  left: 42.5%;
  top: 11%;
  position: absolute;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.shop-liste {
  width: 190px;
  left: 42.5%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.aide {
  left: 56.5%;
  top: 11%;
  position: absolute;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.aide-liste {
  width: 190px;
  left: 56.5%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.a-propos {
  left: 71%;
  top: 11%;
  position: absolute;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.a-propos-liste {
  width: 190px;
  left: 71%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

@media (min-width: 915px) and (max-width: 1290px) {
  .imgPoleFood {
    width: 85%;
    left: 9.5%;  
  }
  .Titre-newsletter {
    font-size: 150%;
  }
  .header {
    left: 45%;
  }
  .accroche {
    top: 10%;
  }
  .bouton-achat {
    left: 48%;
    top: 14%;
  }
}

@media (min-width: 750px) and (max-width: 915px) {
  .imgPoleFood {
    width: 85%;
    left: 9%;   
  }
  .Titre-newsletter {
    font-size: 110%;
  }
  .header {
    left: 42%;
  }
  .accroche {
    top: 10%;
  }
  .bouton-achat {
    left: 47%;
    top: 14%;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .imgPoleFood {
    width: 75%;
    left: 9.5%;   
  }
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 38%;
  }
  .accroche {
    top: 10%;
    left: 28%;
  }
  .bouton-achat {
    left: 44%;
    top: 14%;
  }

  .email {
    top: 45%;
  }

  .bouton-inscription {
    top: 65%;
  }

  .shop {
    left: 50%;
  }

  .shop-liste {
    left: 50%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 50%;
  }

  .aide-liste {
    top: 91%;
    left: 50%;
  }
}

@media (min-width:430px) and (max-width: 550px) {
  .imgPoleFood {
    width: 87.5%;
    left: 7%;   
  }
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 36%;
  }
  .accroche {
    top: 10%;
    left: 28%;
  }
  .bouton-achat {
    left: 42%;
    top: 16%;
  }
  .email {
    top: 45%;
  }

  .bouton-inscription {
    top: 65%;
  }

  .shop {
    left: 50%;
  }

  .shop-liste {
    left: 50%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 50%;
  }

  .aide-liste {
    top: 91%;
    left: 50%;
  }
}

@media(max-width: 430px) {
  .imgPoleFood {
    width: 98%;
    left: 2.5%;   
  }
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 30%;
  }
  .accroche {
    top: 9%;
    left: 31%;
  }
  .bouton-achat {
    left: 41%;
    top: 17%;
  }
  .email {
    top: 55%;
  }

  .bouton-inscription {
    top: 67%;
  }

  .shop {
    left: 60%;
  }

  .shop-liste {
    left: 60%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 60%;
  }

  .aide-liste {
    top: 91%;
    left: 60%;
  }
}