
img {
  max-width: 100%;
  height: auto;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}


.food {
    float: left;
    margin-left: 4%; 
    padding-right: 4%;
    padding-bottom: 4%;
}

.container {
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
  }

  .container2 {
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 3%;
  }

p {
  font-family:Arial, Helvetica, sans-serif;
}  

.descFood {
  text-align: left;
    font-size: xx-large;
}

hr {
  margin: 0;
  width: 50%;
}

@media (max-width: 480px) {
  .nav {
      justify-content: center;
  }

  .nav-phone-screen {
      display: flex;
      width: 100%;
  }

  .nav-full-screen {
      display: none;
  }

  .nav a {
      padding: 2%;
  }
}

@media (min-width: 480px) {
  .nav-phone-screen {
      display: none;
  }

  .nav-full-screen {
      display: flex;
  }

  .nav a {
      padding: 10% 15%;
  }
}

.nav-burger {
  display: none;
  flex-direction: column;
}

.nav-phone-screen {
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #FFD462;
  margin-right: 5%;
  padding-left: 5%;
}

.Titre-newsletter {
  left: 10%;
  top: 8%;
  width: 100%;
  position: absolute;
  color: black;
  font-size: 200%;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word;
}

.email {
  left: 10%;
  top: 38%;
  border: 0.50px black solid;
  position: absolute;
  border-width: 2px;
  width: 27.5%;
  height: 40px;
  font-size: 14px;
  font-family: Public Sans;
  word-wrap: break-word;
  font-weight: 700;
}

.bouton-inscription {
  left: 10%;
  top: 52%;
  position: absolute;
  padding: 10px 10px 10px 10px;
  border: 0.50px black solid;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
  background-color: #FFD462;
}

.sous-titre-newsletter {
  width: 30%;
  left: 10%;
  top: 25%;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Public Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.shop {
  left: 42.5%;
  top: 11%;
  position: absolute;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.shop-liste {
  width: 190px;
  left: 42.5%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.aide {
  left: 56.5%;
  top: 11%;
  position: absolute;
  color: #111111;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.aide-liste {
  width: 190px;
  left: 56.5%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.a-propos {
  left: 71%;
  top: 11%;
  position: absolute;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.a-propos-liste {
  width: 190px;
  left: 71%;
  top: 22%;
  position: absolute;
  opacity: 0.82;
  color: #000000;
  font-size: 16px;
  font-family: Public Sans;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

@media (min-width: 915px) and (max-width: 1290px) {
  .Titre-newsletter {
    font-size: 150%;
  }
  .header {
    left: 45%;
  }
  .accroche {
    top: 10%;
  }
  .bouton-achat {
    left: 48%;
    top: 14%;
  }
}

@media (min-width: 750px) and (max-width: 915px) {
  .Titre-newsletter {
    font-size: 110%;
  }
  .header {
    left: 42%;
  }
  .accroche {
    top: 10%;
  }
  .bouton-achat {
    left: 47%;
    top: 14%;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 38%;
  }
  .accroche {
    top: 10%;
    left: 28%;
  }
  .bouton-achat {
    left: 44%;
    top: 14%;
  }

  .email {
    top: 45%;
  }

  .bouton-inscription {
    top: 65%;
  }

  .shop {
    left: 50%;
  }

  .shop-liste {
    left: 50%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 50%;
  }

  .aide-liste {
    top: 91%;
    left: 50%;
  }
}

@media (min-width:430px) and (max-width: 550px) {
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 36%;
  }
  .accroche {
    top: 10%;
    left: 28%;
  }
  .bouton-achat {
    left: 42%;
    top: 16%;
  }
  .email {
    top: 45%;
  }

  .bouton-inscription {
    top: 65%;
  }

  .shop {
    left: 50%;
  }

  .shop-liste {
    left: 50%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 50%;
  }

  .aide-liste {
    top: 91%;
    left: 50%;
  }
}

@media(max-width: 430px) {
  .Titre-newsletter {
    font-size: 90%;
  }
  .header {
    left: 30%;
  }
  .accroche {
    top: 9%;
    left: 31%;
  }
  .bouton-achat {
    left: 41%;
    top: 17%;
  }
  .email {
    top: 55%;
  }

  .bouton-inscription {
    top: 67%;
  }

  .shop {
    left: 60%;
  }

  .shop-liste {
    left: 60%;
  }

  .a-propos {
    top: 80%;
    left: 10%;
  }

  .a-propos-liste {
    top: 91%;
    left: 10%;
  }

  .aide {
    top: 80%;
    left: 60%;
  }

  .aide-liste {
    top: 91%;
    left: 60%;
  }
}