ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111;
}

.footer {
  background-color: #FFD462;
  padding: 70px;
}

.footer ul {
  list-style: none;
}

.footer h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.footer ul li a {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}

.footer ul li a:hover {
  padding-left: 8px;
}

.logoPanier {
    float: right;
    background-color: rgba(214, 214, 255, 0);
}

.accueil:hover {
    text-transform: initial;
}

.accueil-acc {
    display: none;
}
.accueil:hover .accueil-acc {
    display: inline;
}
.accueil:hover .index {
    display: none;
}

.food {
    float: left;
    margin-left: 20px; 
    padding-right: 25px;
    padding-bottom: 25px;
}

.container {
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
  }

p {
    font-family:Arial, Helvetica, sans-serif;
}
