ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffa43b;
  }

  .section{
    background-color: #ffa43b;
    text-align: center;
  }
  .hautpage{
    text-align: right;
  }
.produit{
  margin:auto;
  left: 230%;
  position: static; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 20%; 
  display: inline-flex;
}
.conteneur{
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 63%; 
  display: inline-flex;
}
.contenue{
  width: 265px; 
  height: 331px; 
  position: relative;
}
.image{
  width: 264.03px; 
  height: 264.60px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #C4C4C4;
}
.nom{
  width: 238.69px; 
  height: 27.34px; 
  left: 0px; 
  top: 277.30px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 700; 
  line-height: 28px; 
  word-wrap: break-word
}
.prix{
  width: 149.06px; 
  height: 27.34px; 
  left: 0px; 
  top: 303.66px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 400; 
  line-height: 28px; 
  word-wrap: break-word
}
.truc{
  width: 15.59px; 
  height: 27.34px; 
  left: 249.41px; 
  top: 277.30px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 400; 
  line-height: 28px; 
  word-wrap: break-word
}


