body{
  margin: 0;
  padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffa43b;
  }

  .section{
    background-color: #ffa43b;
    text-align: center;
    margin:10%;
  }
  .hautpage{
    text-align: right;
  }
/*---------------------------------------------------------*/
@media (min-width:1800px) and (max-width:3300px){
  .produit{
    margin-left:5%;
    left: 230%;
    position: static; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20%; 
    display: inline-flex;
  }
  .conteneur{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 90%; 
    display: inline-flex;
  }
  .contenue{
    width: 265px; 
    height: 331px; 
    position: relative;
  }
  .image{
    width: 264.03px; 
    height: 264.60px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
  }
  .nom{
    width: 238.69px; 
    height: 27.34px; 
    left: 0px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 700; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .prix{
    width: 149.06px; 
    height: 27.34px; 
    left: 0px; 
    top: 303.66px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .truc{
    width: 15.59px; 
    height: 27.34px; 
    left: 205px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  }
@media (min-width:1600px) and (max-width:1800px){
  .produit{
    margin-left:3%;
    left: 230%;
    position: static; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20%; 
    display: inline-flex;
  }
  .conteneur{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 80%; 
    display: inline-flex;
  }
  .contenue{
    width: 265px; 
    height: 331px; 
    position: relative;
  }
  .image{
    width: 264.03px; 
    height: 264.60px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
  }
  .nom{
    width: 238.69px; 
    height: 27.34px; 
    left: 0px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 700; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .prix{
    width: 149.06px; 
    height: 27.34px; 
    left: 0px; 
    top: 303.66px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .truc{
    width: 15.59px; 
    height: 27.34px; 
    left: 205px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  }

@media (min-width:1500px) and (max-width:1600px){
  .produit{
    margin-left:2%;
    left: 230%;
    position: static; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20%; 
    display: inline-flex;
  }
  .conteneur{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 70%; 
    display: inline-flex;
  }
  .contenue{
    width: 265px; 
    height: 331px; 
    position: relative;
  }
  .image{
    width: 264.03px; 
    height: 264.60px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
  }
  .nom{
    width: 238.69px; 
    height: 27.34px; 
    left: 0px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 700; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .prix{
    width: 149.06px; 
    height: 27.34px; 
    left: 0px; 
    top: 303.66px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .truc{
    width: 15.59px; 
    height: 27.34px; 
    left: 205px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  }
@media (min-width:1000px) and (max-width:1500px){
.produit{
  margin-left:0.5%;
  left: 230%;
  position: static; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 20%; 
  display: inline-flex;
}
.conteneur{
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 63%; 
  display: inline-flex;
}
.contenue{
  width: 265px; 
  height: 331px; 
  position: relative;
}
.image{
  width: 264.03px; 
  height: 264.60px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #C4C4C4;
}
.nom{
  width: 238.69px; 
  height: 27.34px; 
  left: 0px; 
  top: 277.30px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 700; 
  line-height: 28px; 
  word-wrap: break-word
}
.prix{
  width: 149.06px; 
  height: 27.34px; 
  left: 0px; 
  top: 303.66px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 400; 
  line-height: 28px; 
  word-wrap: break-word
}
.truc{
  width: 15.59px; 
  height: 27.34px; 
  left: 205px; 
  top: 277.30px; 
  position: absolute; 
  color: black; 
  font-size: 17px; 
  font-family: Public Sans; 
  font-weight: 400; 
  line-height: 28px; 
  word-wrap: break-word
}
}
@media (min-width:915px) and (max-width:1000px){
  .produit{
    margin:auto;
    left: 230%;
    position: static; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20%; 
    display: inline-flex;
  }
  .conteneur{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 40%; 
    display: inline-flex;
  }
  .contenue{
    width: 265px; 
    height: 331px; 
    position: relative;
  }
  .image{
    width: 264.03px; 
    height: 264.60px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
  }
  .nom{
    width: 238.69px; 
    height: 27.34px; 
    left: 0px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 700; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .prix{
    width: 149.06px; 
    height: 27.34px; 
    left: 0px; 
    top: 303.66px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  .truc{
    width: 15.59px; 
    height: 27.34px; 
    left: 205px; 
    top: 277.30px; 
    position: absolute; 
    color: black; 
    font-size: 17px; 
    font-family: Public Sans; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
  }
  }
  @media (min-width:600px) and (max-width:915px){
    .produit{
      margin:auto;
      left: 230%;
      position: static; 
      flex-direction: column; 
      justify-content: flex-start; 
      align-items: flex-start; 
      gap: 20%; 
      display: inline-flex;
    }
    .conteneur{
      justify-content: flex-start; 
      align-items: flex-start; 
      gap: 20%; 
      display: inline-flex;
    }
    .contenue{
      width: 265px; 
      height: 331px; 
      position: relative;
    }
    .image{
      width: 264.03px; 
      height: 264.60px; 
      left: 0px; 
      top: 0px; 
      position: absolute; 
      background: #C4C4C4;
    }
    .nom{
      width: 238.69px; 
      height: 27.34px; 
      left: 0px; 
      top: 277.30px; 
      position: absolute; 
      color: black; 
      font-size: 17px; 
      font-family: Public Sans; 
      font-weight: 700; 
      line-height: 28px; 
      word-wrap: break-word
    }
    .prix{
      width: 149.06px; 
      height: 27.34px; 
      left: 0px; 
      top: 303.66px; 
      position: absolute; 
      color: black; 
      font-size: 17px; 
      font-family: Public Sans; 
      font-weight: 400; 
      line-height: 28px; 
      word-wrap: break-word
    }
    .truc{
      width: 15.59px; 
      height: 27.34px; 
      left: 205px; 
      top: 277.30px; 
      position: absolute; 
      color: black; 
      font-size: 17px; 
      font-family: Public Sans; 
      font-weight: 400; 
      line-height: 28px; 
      word-wrap: break-word
    }
    }
    @media (min-width:430px) and (max-width:600px){
      .produit{
        margin-left:20%;
        left: 230%;
        position: static; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 20%; 
        display: inline-flex;
      }
      .conteneur{
        gap:15%;
      }
      .contenue{
        width: 265px; 
        height: 331px; 
        position: relative;
      }
      .image{
        width: 264.03px; 
        height: 264.60px; 
        left: 0px; 
        top: 0px; 
        position: absolute; 
        background: #C4C4C4;
      }
      .nom{
        width: 238.69px; 
        height: 27.34px; 
        left: 0px; 
        top: 277.30px; 
        position: absolute; 
        color: black; 
        font-size: 17px; 
        font-family: Public Sans; 
        font-weight: 700; 
        line-height: 28px; 
        word-wrap: break-word
      }
      .prix{
        width: 149.06px; 
        height: 27.34px; 
        left: 0px; 
        top: 303.66px; 
        position: absolute; 
        color: black; 
        font-size: 17px; 
        font-family: Public Sans; 
        font-weight: 400; 
        line-height: 28px; 
        word-wrap: break-word
      }
      .truc{
        width: 15.59px; 
        height: 27.34px; 
        left: 205px; 
        top: 277.30px; 
        position: absolute; 
        color: black; 
        font-size: 17px; 
        font-family: Public Sans; 
        font-weight: 400; 
        line-height: 28px; 
        word-wrap: break-word
      }
      }
      @media (max-width:430px){
        .produit{
          margin-left:20%;
          left: 230%;
          position: static; 
          flex-direction: column; 
          justify-content: flex-start; 
          align-items: flex-start; 
          gap: 20%; 
          display: inline-flex;
        }
        .conteneur{
          gap:15%;
        }
        .contenue{
          width: 265px; 
          height: 331px; 
          position: relative;
        }
        .image{
          width: 264.03px; 
          height: 264.60px; 
          left: 0px; 
          top: 0px; 
          position: absolute; 
          background: #C4C4C4;
        }
        .nom{
          width: 238.69px; 
          height: 27.34px; 
          left: 0px; 
          top: 277.30px; 
          position: absolute; 
          color: black; 
          font-size: 17px; 
          font-family: Public Sans; 
          font-weight: 700; 
          line-height: 28px; 
          word-wrap: break-word
        }
        .prix{
          width: 149.06px; 
          height: 27.34px; 
          left: 0px; 
          top: 303.66px; 
          position: absolute; 
          color: black; 
          font-size: 17px; 
          font-family: Public Sans; 
          font-weight: 400; 
          line-height: 28px; 
          word-wrap: break-word
        }
        .truc{
          width: 15.59px; 
          height: 27.34px; 
          left: 205px; 
          top: 277.30px; 
          position: absolute; 
          color: black; 
          font-size: 17px; 
          font-family: Public Sans; 
          font-weight: 400; 
          line-height: 28px; 
          word-wrap: break-word
        }
        }
/*---------------------------------------------------------*/
button{
  background-color: #ffa43b;
  border-radius: 10px;
}
button:hover{
  background-color: #444444;
  color:#ffa43b;
}

/*--------------navbar-----------*/
.navbar {
  background-color: #444444;
  box-shadow: 0px 2px 5px 1px;
  display: flex;
  overflow: hidden;
}


.navbar a {
  color: #f2f2f2;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  transition: all linear 0.1s;
}


.navbar a.active {
  background-color: #333333;
  color: white;
  transition: all linear 0.1s;
}


.navbar a:hover {
  background-color: #555555;
  transition: all linear 0.1s;
}

@media (max-width: 480px) {
  .navbar {
      justify-content: center;
  }

  .navbar-phone-screen {
      display: flex;
      width: 100%;
  }

  .navbar-full-screen {
      display: none;
  }

  .navbar a {
      padding: 2%;
  }
}

@media (min-width: 480px) {
  .navbar-phone-screen {
      display: none;
  }

  .navbar-full-screen {
      display: flex;
  }

  .navbar a {
      padding: 10% 15%;
  }
}

.nav-burger {
  display: none;
  flex-direction: column;
}

.navbar-phone-screen {
  flex-direction: column;
}



.burger-icon span {
  box-shadow: 0px 1px 3px;
  display: flex;
  width: 10%;
  height: 5px;
  background-color: white;
  margin: 6px 45%;
}
/*-----------Footer---------------*/
.footer {
  background-color: #FFD462;
  padding: 2%;
  clear: both;
  margin-top: 10%;
}

.footer-devider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
  padding: 2%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.footer-newsletter {
  font-size: 24px;
  color: #020202;
}

.footer-text {
  color: #2c2b2b;
  font-size: 14px;
}

.footer-element {
  color: #252525;
  margin-top: 3%;
  margin-bottom: 3%;
  text-decoration: none;
}

.footer-col fieldset {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  gap:5%;
  justify-content: center;
  padding: 3%;
}


.footer-col input[type=text] {
  background-color: #ffffff;
  border: none;
  color: #1c1b1b;
  font-size: 15px;
  outline: none;
  transition: all linear 0.1s;
}

.footer-col .footer-email-submit {
  background-color: #FFD462;
  border: none;
  color: #0b0b0b;
  font-size: 15px;
  outline: none;
  text-decoration: none;
}

.footer-col .footer-email-submit:hover {
  text-decoration: underline;
}


.footer-element:hover {
  color: #ffc936;
  transition: all linear 0.2s;
}


.footer-title {
  color: #222222;
  font-weight: bold;
  margin-bottom: 10%;
}


.footer-c {
  text-align: center;
  color: #000000;
}

@media (max-width: 540px) {
  .footer-devider {
      flex-direction: column;
  }

  .footer-row {
      width: 95%;
  }
}
